.site-subtitle {
  color: $white;
  text-align: center;
  width: 100%;
  font-size: 28px;

  @include on-mobile {
    font-size: 20px;
  }
}

.site-title {
  @extend .site-subtitle;
  line-height: 38px;
  font-size: 60px;
  font-weight: $bold-font-weight;

  @include on-mobile {
    font-size: 48px;
    line-height: 50px;
  }
}

.post-date {
  text-transform: uppercase;
  font-size: 14px;
  color: $grey-color;
  display: block;
  font-weight: $bold-font-weight;
}
