footer {
  $footer-height: 50px;

  .footer-container {
    padding: 30px 20px;
    margin-top: $footer-height;
    margin-bottom: $footer-height;
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
  }

  img {
    float: left;
    border-radius: $footer-height;
    height: $footer-height - 8px;
    margin-right: 20px;
    padding: 3px;
    border: 1px solid $grey-color-light;
  }

  p {
    margin-bottom: 0;
  }

  .page-title {
    font-weight: $bold-font-weight;
  }

  .fa {
    float: right;
    line-height: $footer-height;
    border-radius: 4px;
    font-size: 22px;
    transition: opacity .2s ease-out;
    margin-left: 10px;

    &:hover {
      opacity: .8;
    }

    &:active, &:focus {
      opacity: .4;
    }
  }

  .fa-linkedin {
    color: $color-linkedin!important;
  }

  .fa-twitter {
    color: $color-twitter!important;
  }

  .fa-google-plus {
    color: $color-google-plus!important;
  }

  a, a:hover, a:focus, a:visited {
    color: $grey-color-dark;
  }

}