.hero {
  height: 350px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 100px;
  margin-bottom: 50px;

  .hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: -1;
  }

  .image {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    background-position: center;
    background-size: cover;
    z-index: -2;
  }
}