.home {
  height: 100vh;

  background-image: url(../static/images/bg_image.jpg);
  background-size: cover;
  background-position: center;

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.4;
  }

  .home__heading {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    width: 100%;
  }

  .home__links {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;

    a {
      color: $white;
      font-size: 18px;
      line-height: 40px;
      border-radius: 10px;
      background: $brand-primary;
      width: 40px;
      height: 40px;
      margin: 10px;
      transition: opacity .2s linear;

      &:last-of-type {
        background: $brand-secondary;
      }
    }
  }
}