.home {
  height: 100vh;

  background-image: url(../static/bg_image.jpg);
  background-size: cover;
  background-position: center;

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.4;
  }

  .home__heading {
    color: $white;
    position: absolute;
    text-align: center;
    top: 20%;
    transform: translateY(-50%);
    width: 100%;

    h1 {
      line-height: 38px;
      font-size: 60px;
    }

    h2 {
      color: $brand-color;
      font-size: 28px;
    }
  }

  .home__cards {
    position: absolute;
    top: 50%;
    width: 100%;

    li {
      margin: 10px;
    }
  }

  .cards a li {
    background-color: blue;
  }
  .cards a+a li {
    background-color: red;
  }
  .cards a+a+a li {
    background-color: yellow;
  }
  .cards a+a+a+a li {
    background-color: green;
  }
}