<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page-content">
      <div class="wrapper">
        <div class="hero">
          <div style="background-image: url({{ page.image }})" class="image"></div>
          <div class="hero__overlay"></div>
          <p class="site-title">{{ page.title }}</p>
          <p class="site-subtitle">{{ page.subtitle }}</p>
        </div>

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

  {% include scripts.html %}

</html>
