<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="hero">
          <img src="{{ page.image }}" alt="{{ page.title }}">
          <div class="hero__overlay"></div>
          <p class="site-title">{{ page.title }}</p>
          <p class="site-subtitle">{{ page.subtitle }}</p>
        </div>

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
